.button-green {
  padding: 0;
  border: none;
  margin: 0;
  background: none;
}

span {
  white-space: nowrap;
  margin-right: 5px;
}

input {
  max-height: 30px;
}

.margin {
    margin-left: 5px;
}

.label-input {
  display: flex;
  align-items: center;
}
