*{
    box-sizing: border-box;
    margin-bottom: 5px;
}

body {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=text], input[type=date], select, textarea {
    display: block;
}